__pycache__
output/
build/
dist/
env/
/main.spec
/text_a.txt 
/text_b.txt
/my_stderr.log
/my_stdout.log
.DS_Store
my_stderr.log
my_stdout.log
.DS_Store
latest-mac-test.json
latest-mac.json
my_stderr.log
my_stdout.log
pyten.txt
.DS_Store
env/.DS_Store
env/*
vscode/
vscode/*
.coverage
app_debug.log
application_log.txt